react-router-dom
react-bootstrap
--save @fortawesome/fontawesome-svg-core @fortawesome/free-solid-svg-icons @fortawesome/react-fontawesome
@mui/material @emotion/react @emotion/styled
axios
react-datepicker
@mui/icons-material
@mui/material @emotion/react @emotion/styled
