@emotion/react
@emotion/styled
@fortawesome/fontawesome-svg-core
@fortawesome/free-solid-svg-icons
@fortawesome/react-fontawesome
@mui/icons-material
@mui/material
axios
bootstrap
react-bootstrap
react-datepicker
react-dom
react-icons
react-router-dom
react
chart.js
chartjs-adapter-date-fns
react-chartjs-2