.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make wrapper take full screen height */
    background: linear-gradient(128deg, #4D68AC -22.77%, #FFF 107.48%) !important;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-left: 40px;
    margin-right: 40px;
    color: #271E4A;
    background-color: #D5DEED;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;    
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.profileName {
    font-weight: bold;
}

.navButtons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.navButton {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
    color: #271E4A;
}

.btnText{
    margin-left: 8px;
    margin-top: 3px;
}

.alertButton {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

.notificationBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(247, 58, 58);
    color: white;
    font-size: 0.8rem;
    border-radius: 50%;
    padding: 1px 6px;
}

.logoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Main Content Section */
.mainContent {
    flex: 1; /* Take up remaining vertical space */
    background-color: white; /* White background for content */
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for content area */
}

.contentPlaceholder {
    
    height: 100%; /* Fill available space */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #666;
}