@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

.room-container {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-dropdown {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #495057;
  transition: border-color 0.3s ease;
  width: 400px; 
}


.filter-dropdown:focus {
  border-color: #007bff;
  outline: none;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.room-card {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.room-card h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #343a40;
}

.beds-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.bed-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 500px;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.bed-card.good {
  background-color: #eafaf1;
  border-color: #28a745;
}

.bed-card.warning {
  background-color: #fff9e5;
  border-color: #ffc107;
}

.bed-card.bad {
  background-color: #fdecea;
  border-color: #dc3545;
}

.bed-card.neutral {
  background-color: #e9ecef;
  border-color: #6c757d;
}

.bed-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.bed-icon {
  font-size: 160px;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  margin-top: -10px;
}
.bed-card.good .bed-icon {
  color: #196f3d;
}

.bed-card.warning .bed-icon {
  color: #cc8b00;
}

.bed-card.bad .bed-icon {
  color: #a71d2a;
}

.bed-card.neutral .bed-icon {
  color: #4c5258;
}

.bed-name {
  font-size: 22px;
  font-weight: 700; 
  margin-bottom: 10px;
  color: #000 !important;
  text-decoration: none;
}

.bed-name:hover {
  color: #000;
  text-decoration: none; 
}

.bed-value {
  color: #000;
  font-family: 'Karantina', cursive;
  font-size: 146px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-left: 18px;
  margin-bottom: 10px;
}

.bed-value span {
  font-size: 78px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;

}

.patient-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  color: #000;
  text-decoration: none;
}

.patient-name:hover {
  color: #000;
  text-decoration: none;
}
.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.room-container {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden; 
}

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.header h1 {
  margin-bottom: 10px;
}

.filter-dropdown {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #495057;
  transition: border-color 0.3s ease;
  width: 100%; 
  max-width: 400px; 
}

.bed-value .diastolic {
  font-size: 78px; 
  font-weight: 400;
  line-height: 1;
  margin-left: 1px;
  color: #000; 
}

@media (max-width: 768px) {
  .room-grid {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
  }

  .room-card {
    padding: 15px; 
  }

  .beds-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
  }

  .bed-card {
    padding: 15px;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .bed-icon {
    font-size: 100px; 
  }

  .bed-name {
    font-size: 16px; 
    margin-bottom: 5px;
  }

  .bed-value {
    font-size: 90px; 
  }

  .bed-value span {
    font-size: 50px; 
  }

  .patient-name {
    font-size: 20px; 
  }
}

@media (max-width: 1024px) {
  .beds-grid {
    grid-template-columns: 1fr 1fr; 
  }
}
